{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="d-flex justify-content-center align-items-center flex-column ">
        <div class="col-5 mt-5 form-container">
            <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="">
                <label for="inputEmail" class="mb-1 me-3">Votre adresse mail :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="mt-1 ">
                <label for="inputPassword" class="mb-1 me-3">Votre mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="mt-3 ">
                <i>Votre entreprise n'est pas encore inscrite ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></i>
            </div>

            <button class="btn btn-primary mt-3 qsa-btn" type="submit">Se connecter</button>
        </div>
    </div>
</form>
{% endblock %}
