{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises | {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-lg-9 mx-auto d-flex justify-content-between">
        <div class="w-25">
            {% include '_includes/sidebarAlphabet.html.twig' %}
        </div>
        <div class="w-75">
            {% include 'admin/entreprise/entrepriseStartByA.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByB.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByC.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByD.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByE.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByF.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByG.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByH.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByI.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByJ.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByK.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByL.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByM.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByN.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByO.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByP.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByQ.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByR.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByS.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByT.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByU.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByV.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByW.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByX.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByY.html.twig' %}
            {% include 'admin/entreprise/entrepriseStartByZ.html.twig' %}
        </div>
    </div>

{% endblock %}