{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises | {{ parent() }}{% endblock %}

{% block body %}

    {# Search bar #}

    {# End search bar #}


    <div class="col-lg-9 mx-auto d-flex ">
        <div class="w-25">
            {% include '_includes/sidebarAlphabet.html.twig' %}
        </div>
        <div class="w-75 d-flex justify-content-center align-items-center">
            Vous avez {{ totalEntreprise - 1 }} entreprises enregistrer sur votre plateforme
        </div>
    </div>

{% endblock %}
